body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
    margin: 0;
}

.container {
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin-bottom: 20px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 2px solid #333;
    font-size: 24px;
    cursor: pointer;
}

.resetButton {

    position: absolute;
    top: 15px;
    right: 15px;
}
   


#resetButton {
    padding: 10px 15px;
    border: none;
    background: #11c729;
    color: #e8e8e8;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}


#resetButton:hover {
    background: #b22a11;
    transform: scale(1.05);
    transition: background 0.3s, transform 0.2s;
}

.github {

    position: absolute;
    top: 15px;
    right: 15px;
}
   


#github {
    padding: 10px 15px;
    border: none;
    background: #11c729;
    color: #e8e8e8;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}


#github:hover {
    background: #0056b3;
    transform: scale(1.05);
    transition: background 0.3s, transform 0.2s;
}


